
button{
    border-radius: 5px;
}


.number button{
    width: 60px;
    height: 60px;
    margin:5px;
    background: white;
}
.box>.operation {
    width: 70px;
    float: left;
    padding-left: 3px;
}
.operation button{
    width: 60px;
    height: 60px;
    margin: 5px;
    background: #eee;
}
.enter{
    margin: 5px 5px;
    height: 133px;
    width: 60px;
}
.result{
    width: 430px;
    margin: 6px;
    height: 50px;
    border-radius: 5px;
    text-align: right;
    text-indent: 50px;
    font-size: 20px;
}

.box{
    margin-left: 5px;
}